.content {
  padding: 60px 0 130px;

  &__edit_icon {
    display: inline-block;
    height: 20px;
    fill: $color-primary;
    padding-right: 2px;
    margin-bottom: -2px;
  }

  &__title {
    text-align: center;
    color: $color-primary;
  }

  &__account_info {
    margin-top: 40px;
  }

  &__user_name {
    color: $color-primary;
    margin-top: 20px;
  }

  &__email {
    margin-top: 6px;
  }

  &__post_recipe_link {
    color: $color-primary;
    margin-top: 20px;
  }

  &__my_recipes {
    margin-top: 48px;
  }

  &__favorite_recipes {
    margin-top: 48px;
  }

  &__show_more_button {
    color: $color-primary;
    background: none;
    margin-top: 36px;
  }
}
