@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

@import "./normalize.scss";

* {
  font-family: "Roboto", sans-serif;
}

a:hover {
  text-decoration: underline;
}

input,
button,
select {
  font-size: 1rem;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.color-primary {
  color: $color-primary;
}

.color-black {
  color: black;
}

.container {
  max-width: 1110px;
  width: 100%;
  margin: 0 auto;

  @include breakpoint(laptop) {
    max-width: unset;
    padding: 0 45px;
  }

  @include breakpoint(tablet) {
    padding: 0 28px;
  }

  @include breakpoint(tablet-small) {
    padding: 0 20px;
  }

  @include breakpoint(phone) {
    padding: 0 16px;
  }
}

.form_container {
  @extend .container;
  max-width: 380px;
  padding: 0;

  @include breakpoint(phone-large) {
    max-width: unset;
    padding: 0 20px;
  }
}

.flex {
  display: flex;
  align-items: center;
}

.flex_space_between {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.flex_center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex_column_center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex_right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.hidden {
  display: none !important;
}

.auth_problem_p {
  text-align: center;
  color: $color-primary;
  margin-top: 20px;
}

h1 {
  @extend %heading_1;
}

h2 {
  @extend %heading_2;
}

h3 {
  @extend %heading_3;
}

h4 {
  @extend %heading_4;
}

h5 {
  @extend %heading_5;
}
