.content {
  padding-top: 60px;
  padding-bottom: 120px;

  &__star_and_title {
    display: grid;
    grid-template-columns: 32px auto;
    align-items: center;
    gap: 8px;
  }

  &__star_icon {
    height: 28px;
    width: 28px;
    fill: black;
    opacity: 0.7;
    cursor: pointer;
    margin-top: 8px;
  }

  &__star_icon:hover {
    opacity: 1;
    fill: $color-yellow;
  }

  &__star_icon_active {
    @extend .content__star_icon;
    opacity: 1;
    fill: $color-yellow;
  }

  &__heading {
    color: $color-primary;
    padding-bottom: 6px;
  }

  &__edit_link {
    color: $color-primary;
    margin-top: 20px;
  }

  &__edit_icon {
    height: 20px;
    fill: $color-primary;
    padding-right: 2px;
    margin-bottom: -2px;
  }

  &__grid {
    display: grid;
    gap: 80px;
    grid-template-columns: 500px 1fr;
    margin-top: 28px;

    @include breakpoint(laptop-small) {
      display: flex;
      flex-direction: column;
      gap: 50px;
    }

    @include breakpoint(laptop-small) {
      gap: 40px;
    }
  }

  &__title {
    color: $color-primary;
    text-transform: capitalize;
    margin-top: 10px;
  }

  &__date {
    margin-top: 6px;
  }

  &__meal_type {
    text-transform: capitalize;
    margin-top: 6px;
  }

  &__image {
    height: 400px;
    border: 1px solid $color-primary;
    background-image: url(/blank-recipe-icon.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 28px;

    @include breakpoint(laptop-small) {
      height: 450px;
    }

    @include breakpoint(tablet) {
      height: 400px;
    }

    @include breakpoint(phone-large) {
      height: 280px;
    }
  }

  &__items_div {
    margin-top: 28px;
  }

  &__preparation {
    margin-top: 28px;
  }

  &__items_list {
    li {
      margin-top: 16px;
    }
  }

  &__steps_heading {
    color: $color-primary;
    padding-bottom: 4px;
  }
}
