.content {
  padding: 70px 0 130px;

  @include breakpoint(phone) {
    padding: 60px 0 120px;
  }

  &__title {
    color: $color-primary;
    text-align: center;
  }

  &__searchbox {
    display: flex;
    align-items: center;
    width: 340px;
    height: 40px;
    border-bottom: 1px solid black;
    padding: 10px 4px;
    margin-top: 24px;

    @include breakpoint(tablet) {
      margin: 24px auto 0;
    }

    @include breakpoint(phone) {
      width: 100%;
    }

    input {
      max-width: 320px;
      width: 100%;
      border: none;
      padding-right: 4px;
    }
  }

  &__nothing_was_found_p {
    color: $color-primary;
    text-align: center;
    margin-top: 48px;
  }

  &__clear_input_icon {
    width: 20px;
    fill: $color-primary;
    cursor: pointer;
  }

  &__list {
    display: flex;
    flex-direction: column;
    margin-top: 32px;

    @include breakpoint(tablet) {
      gap: 28px;
      margin-top: 32px;
    }

    @include breakpoint(phone) {
      gap: 28px;
      margin-top: 24px;
    }
  }

  &__list_item {
    @include breakpoint(tablet) {
      box-shadow: $boxShadow;
    }
  }

  &__list_item:first-child {
    background: $color-primary;
    color: white;
    font-size: 1.125rem;
  }

  &__list_item_grid {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 160px 140px;
    gap: 6px;
    border-left: 1px solid $borderColor;
    border-bottom: 1px solid $borderColor;

    @include breakpoint(laptop-small) {
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) 125px 120px;
    }

    @include breakpoint(tablet) {
      display: flex;
      flex-direction: column;
      gap: 24px;
      border: none;
      padding: 24px 20px;
    }

    li {
      border-right: 1px solid $borderColor;
      padding: 20px 16px;
      overflow-wrap: break-word;

      @include breakpoint(tablet) {
        border: none;
        padding: 0;
      }
    }

    li:last-child {
      @include breakpoint(tablet) {
        align-self: flex-end;
      }
    }
  }

  &__list_item_grid_first {
    @extend .content__list_item_grid;
    border: 1px solid $color-primary;

    @include breakpoint(tablet) {
      display: none;
    }

    li {
      border: none;
      padding: 16px;
    }
  }

  &__list_label {
    display: none;
    padding-bottom: 4px;

    @include breakpoint(tablet) {
      display: block;
      color: $color-primary;
    }
  }

  &__list_user_name {
    @include breakpoint(tablet) {
      color: $color-primary;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }

  &__show_more_button {
    padding: 10px 28px;
    background: $color-primary;
    color: white;
    margin-top: 40px;
  }
}
