.content {
  padding: 70px 0 130px;

  @include breakpoint(phone) {
    padding: 60px 0 120px;
  }

  &__title {
    color: $color-primary;
    overflow-wrap: break-word;
    margin-top: 20px;
  }

  &__email {
    margin-top: 6px;
  }

  &__recipes_section {
    margin-top: 40px;
  }

  &__show_more_button {
    color: $color-primary;
    background: none;
    margin-top: 36px;
  }
}
