.content {
  padding-top: 60px;
  padding-bottom: 120px;

  &__title {
    color: $color-primary;
    margin-top: 20px;
  }

  &__email {
    margin-top: 6px;
  }

  &__recipes_section {
    margin-top: 40px;
  }
}
