.logged_in_content {
  padding-top: 0 !important;
}

.content {
  padding: 70px 0 130px;

  @include breakpoint(phone) {
    padding: 60px 0 120px;
  }

  &__top_section {
    width: 100%;
    background-image: url(/static/main-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 120px 0;

    @include breakpoint(tablet-small) {
      padding: 100px 0;
    }
  }

  &__top_text_div {
    max-width: 400px;
  }

  &__title {
    @extend %heading_1;
    color: white;

    @include breakpoint(tablet-small) {
      font-size: 2.5rem;
    }
  }

  &__subtitle {
    @extend %heading_3;
    color: white;
    margin-top: 16px;

    @include breakpoint(tablet-small) {
      font-size: 1.25rem;
    }
  }

  &__join_button {
    background: $color-primary;
    color: white;
    padding: 10px 32px;
    user-select: none;
    margin-top: 32px;
  }

  &__discover_section {
    margin-top: 48px;
  }

  &__see_more_link {
    color: $color-primary;
    margin-top: 28px;
  }

  &__contact_us_section {
    margin-top: 48px;
  }

  &__contact_us_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    margin-top: 32px;

    @include breakpoint(tablet-small) {
      display: flex;
      flex-direction: column;
    }
  }

  &__contact_us_item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__contact_us_subtitle {
    color: $color-primary;
    padding-bottom: 6px;
  }

  &__contact_us_icon {
    fill: $color-primary;
    height: 42px;
  }
}
