.hamburger_menu {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 0;
  height: calc(100vh + 60px);
  background-color: $color-primary;
  z-index: 999;
  transition: 0.3s;
  touch-action: none;

  @include breakpoint(tablet) {
    display: block;
  }

  &__content {
    padding: 120px 0;
  }
}

.hamburger_menu_open {
  width: 100vw;
}

.content {
  display: flex;
  align-items: center;
  min-height: 68px;
  background: $color-primary;
  color: white;

  &__logo_Link {
    text-decoration: none !important;
  }

  &__logo_text {
    @extend %heading_3;
    color: white;
  }

  &__navigation {
    @include breakpoint(tablet) {
      display: none;
    }
  }

  &__hamburger {
    display: none;

    @include breakpoint(tablet) {
      display: flex;
      align-items: center;
    }
  }

  &__nav_list {
    display: flex;

    @include breakpoint(tablet) {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
    }

    li {
      margin-left: 28px;

      @include breakpoint(tablet) {
        margin-left: 0;
      }
    }

    li:first-child {
      margin-left: 0;
    }
  }

  &__nav_link {
    color: white;

    @include breakpoint(tablet) {
      font-size: 1.25rem;
      text-decoration: none !important;
    }
  }

  &__logout_button {
    background: none;
    color: white;
    font-size: 1rem;

    @include breakpoint(tablet) {
      font-size: 1.25rem;
    }
  }
}
