.content {
  padding: 70px 0 130px;

  @include breakpoint(phone) {
    padding: 60px 0 120px;
  }

  &__title {
    color: $color-primary;
    text-align: center;
  }

  &__password_form {
    margin-top: 48px;
  }

  &__info_p {
    margin-top: 28px;
  }
}
