.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 170px;
  background: $color-primary;
  color: white;
  text-align: center;
  padding: 20px 0 32px;
  margin-top: auto;

  @include breakpoint(tablet) {
    height: 150px;
  }
}
