.form {
  margin-top: 28px;

  &__input {
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    padding: 10px 4px;
  }

  &__inputs_list {
    li {
      margin-top: 16px;
    }
  }

  &__submit_button {
    width: 100%;
    background-color: $color-primary;
    border-radius: $borderRadius;
    color: white;
    padding: 10px 24px;
    margin-top: 16px;
  }

  &__delete_submit_button {
    @extend .form__submit_button;
    background-color: $color-red;
  }

  &__errors {
    color: $color-red;
    margin-top: 20px;
  }
}
